<div>

    <ul class="nav bg-primary">
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-book"></i> Documentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-life-ring"></i> Support</a>
        </li>
    </ul>

</div>