<div>

    <ul class="nav bg-primary">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Documentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
        </li>
    </ul>

</div>