<!DOCTYPE html>
<html>

<head>
    <% include ./includes/head %>
</head>

<body>
    <% include ./includes/navbar %>
    <section id="GuildSelection">
        <div class="GuildSelectionContainer">
            <div class="GuildSelectionText">Select a server</div>
            <ul class="GuildSelectionGuilds"></ul>
        </div>
    </body>
</body>

<script type="text/javascript" src="scripts/dashboard.js"></script>

</html>